[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/srcery"]
	path = bundle/srcery
	url = https://github.com/roosta/vim-srcery.git
